<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="Kiten Dictionary Editor" version="2">

<MenuBar>
<Menu name="file" noMerge="1"><text>&amp;File</text>
  <Action name="file_new"/>
  <Action name="file_open"/>
  <Action name="open_default" />
  <Separator/>
  <Action name="file_save"/>
  <Action name="file_save_as"/>
  <Separator/>
  <Action name="disable"/>
  <Action name="file_close"/>
</Menu>

<Menu name="edit"><text>&amp;Edit</text>
  <Action name="add" />
  <Action name="del" />
</Menu>

</MenuBar>

<ToolBar name="mainToolBar" fullWidth="true"><text>Main Toolbar</text>
  <Action name="add" />
  <Action name="del" />
  <Seperator />
  <Action name="close" />
</ToolBar>

</kpartgui>
