<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="Kiten" version="2">

<MenuBar>

<Menu name="file"><text>&amp;File</text>
  <Action name="file_learn" />
  <Action name="add" />
</Menu>

<Menu name="search"><text>&amp;Search</text>
  <Action name="search" />
  <Action name="search_in_results" />
  <Action name="search_beginning" />
  <Action name="search_end" />
  <Action name="search_grade" />
  <Action name="search_stroke" />
  <Action name="search_radical" />
</Menu>

<Menu name="settings"><text>&amp;Settings</text>
  <Action name="kanji_toggle" />
  <Action name="deinf_toggle" />
  <Action name="common" />
  <Seperator />
  <Action name="input" />
</Menu>

</MenuBar>

<ToolBar name="mainToolBar" noMerge="1" fullWidth="true" noEdit="true"><text>Main Toolbar</text>
  <Action name="clear_search" />
  <Action name="search_edit" />
  <Action name="search" />
  <Action name="search_in_results" />
  <Action name="search_radical" />
</ToolBar>

<ToolBar name="extraToolBar" noMerge="1"><text>Extra Toolbar</text>
  <Action name="search_stroke" />
  <Action name="search_grade" />
  <Seperator/>
  <Action name="kanji_toggle" />
  <Action name="common" />
  <Seperator/>
  <Action name="file_learn" />
</ToolBar>

</kpartgui>
