<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="Kiten" version="1">

<MenuBar>

<Menu name="file"><text>&amp;File</text>
 <Action name="file_learn" />
</Menu>

<Menu name="search"><text>&amp;Search</text>
  <Action name="search_anywhere" />
  <Action name="search_reading" />
  <Action name="search_kanji" />
  <Action name="search_stroke" />
  <Action name="search_grade" />
  <Seperator />
  <Action name="kanji_toggle" />
  <Action name="in_results" />
  <Action name="common" />
</Menu>

</MenuBar>

<ToolBar name="mainToolBar" noMerge="1" fullWidth="true"><text>Main Toolbar</text>
  <Action name="clear_search" />
  <Action name="search_edit" />
  <Action name="search_anywhere" />
  <Action name="search_reading" />
  <Action name="search_kanji" />
  <Action name="search_stroke" />
  <Action name="search_grade" />
  <Action name="kanji_toggle" />
  <Action name="in_results" />
  <Action name="common" />
  <Action name="file_learn" />
</ToolBar>

</kpartgui>
