[Desktop Entry]
Comment=Japanese Reference/Study Tool
Comment[az]=Yaponca Referens/Təhsil vasitəsi
Comment[da]=Japansk Reference/Studium-værktøj
Comment[de]=Referenz- und Studienprogramm für die Erlernung des Japanischen
Comment[es]=Herramienta de referencia/estudio de Japonés
Comment[fr]=Outil d'étude et de référence japonais
Comment[he]=כלי עיון\לימוד יפנית
Comment[hu]=Segédprogram a japán nyelvet tanulók számára
Comment[lv]=Japāņu valodas Mācību/References rīks
Comment[nl]=Japanse Referentie/Studie hulpmiddel
Comment[pt]=Ferramenta de Estudo/Referência de Japonês
Comment[pt_BR]=Ferramenta de Estudo/Referência de Japonês
Comment[sk]=Nástroj pre výuku Japonštiny
Comment[sl]=Japonsko orodje za referenco/študij
Comment[sv]=Referens- och studieverktyg för japanska
Comment[xh]=Uthelekiso lwamaJaphani/Isixhobo sokufunda
Comment[xx]=xx
DocPath=kiten/index.html
Exec=kiten -caption "%c" %i %m
Name=Kiten
Name[xx]=xx
Terminal=0
Type=Application
Icon=kiten
