[Desktop Entry]
Exec=kitenkanjibrowser
Name=Kanji Browser
Name[bs]=Kanji pregledač
Name[ca]=Fullejador del Kanji
Name[da]=Kanji-browser
Name[de]=Kanji-Browser
Name[es]=Explorador Kanji
Name[et]=Kanji sirvija
Name[fi]=Kanjiselain
Name[ga]=Brabhsálaí Kanji
Name[hu]=Kandzsi böngésző
Name[it]=Visualizzatore kanji
Name[kk]=Кандзи ақтарғышы
Name[km]=កម្មវិធី​រុករក Kanji
Name[nb]=Kanji-velger
Name[nl]=Kanji-browser
Name[pl]=Przeglądarka Kanji
Name[pt]=Selector de Kanji
Name[pt_BR]=Navegador do Kanji
Name[sk]=Prehliadač Kandži
Name[sl]=Brskalnik za Kanji
Name[sv]=Kanji-bläddrare
Name[uk]=Переглядач кандзі
Name[x-test]=xxKanji Browserxx
Name[zh_TW]=漢字瀏覽器
X-DocPath=kiten/index.html#kanji-list
Terminal=false
Type=Application
Icon=kiten
NoDisplay=true
