[Desktop Entry]
Encoding=UTF-8
GenericName=Japanese Reference/Study Tool
GenericName[el]=Εργαλείο αναφοράς/μελέτης ιαπωνικών
GenericName[fr]=Un outil d'étude et de référence japonais
GenericName[x-test]=xxJapanese Reference/Study Toolxx
Comment=Japanese Reference and Study Tool
Comment[el]=Εργαλείο αναφοράς και μελέτης ιαπωνικών
Comment[fr]=Outil d'étude et de référence japonais
DocPath=kiten/index.html
Exec=kiten -caption "%c" %i
Name=Kiten
Name[x-test]=xxKitenxx
Terminal=false
Type=Application
Icon=kiten
Categories=Qt;KDE;Education;X-KDE-Edu-Language;
