[Desktop Entry]
GenericName=Japanese Reference/Study Tool
GenericName[af]=Japanese Verwysings/Leerder
GenericName[be]=Праграма для паўтарэння/вывучэння японскай мовы
GenericName[bg]=Самоучител по японски
GenericName[bn]=জাপানি তথ্যসূত্র/শিক্ষা সহায়িকা
GenericName[ca]=Eina de referència i estudi del japonès
GenericName[cs]=Japonský referenční/výukový nástroj
GenericName[csb]=Nôrzãdze do naùczi japòńsczégò
GenericName[cy]=Erfyn Astudio a cyfeirio i Siapaneg
GenericName[da]=Japansk reference-/indlæringsværktøj
GenericName[de]=Referenz- und Studienprogramm für Japanisch
GenericName[el]=Εργαλείο αναφοράς/μελέτης ιαπωνικών
GenericName[eo]=Japanlingva referenca/lerna ilo
GenericName[es]=Herramienta de referencia/estudio del japonés
GenericName[et]=Jaapani keele õpiprogramm
GenericName[eu]=Japoniera erreferentzia/Ikasketa tresna
GenericName[fa]=ابزار مرجع/مطالعۀ ژاپنی
GenericName[fi]=Japanin opiskelutyökalu
GenericName[fr]=Un outil d'étude et de référence japonais
GenericName[ga]=Uirlis Tagartha/Staidéir don tSeapáinis
GenericName[gl]=Aprendizaxe e consulta do xaponés
GenericName[gu]=જાપાનીઝ સંદર્ભ/શિક્ષણ સાધન
GenericName[he]=כלי עיון\לימוד יפנית
GenericName[hi]=जापानी सन्दर्भ/शिक्षण औज़ार
GenericName[hr]=Program za proučavanje japanskog jezika
GenericName[hu]=Japán írásjeloktató
GenericName[is]=Japanskt uppsláttarrit/kennslutól
GenericName[it]=Programma per lo studio del giapponese
GenericName[ja]=日本語参照/学習ツール
GenericName[ka]=იაპონურის ლექსიკონი/შესწავლა
GenericName[km]=ឧបករណ៍​សិក្សា/យោង ជប៉ុន
GenericName[ko]=일본어 참조/학습 도구
GenericName[lt]=Japoniškas žinynas/studijavimo įrankis
GenericName[lv]=Japāņu valodas mācību rīks
GenericName[mk]=Јапонски Прирачник/Алатка за учење
GenericName[ml]=ജാപ്പനീസ് റഫറന്‍സ്/പഠന ഉപകരണം
GenericName[ms]=Alat Rujukan/Pembelajaran Bahasa Jepun
GenericName[nb]=Japansk oppslagsverk/læremiddel
GenericName[nds]=Nakiek- un Lehrwarktüüch för Japaansch 
GenericName[ne]=जापानी सन्दर्भ/शिक्षण सामग्री
GenericName[nl]=Japans referentie-/studiehulpprogramma
GenericName[nn]=Språk- og studieverktøy for japansk
GenericName[pl]=Narzędzie do nauki japońskiego
GenericName[pt]=Ferramenta de Estudo de Japonês
GenericName[pt_BR]=Referência em Japonês/Ferramenta de estudo
GenericName[ru]=Японско-английский словарь
GenericName[se]=Japánalaš giellareaidu
GenericName[sk]=Japonská referencia/študijný nástroj
GenericName[sl]=Orodje za referenco/študij japonščine
GenericName[sv]=Japanskt referens- och studieverktyg
GenericName[ta]= ஜப்பானிய மேற்கோள்/ கல்விக் கருவி
GenericName[tg]=Асбоби Истидони/Омӯзиши Забони Японӣ
GenericName[tr]=Japonca Referans/Çalışma Aracı
GenericName[uk]=Програма вивчення японської мови
GenericName[vi]=Công cụ Tham khảo/Học Tiếng Nhật
GenericName[x-test]=xxJapanese Reference/Study Toolxx
GenericName[xh]=Ubekiso Lwesijapani/Isixhobo Sokufunda
GenericName[zh_CN]=日语参考/学习工具
GenericName[zh_TW]=日語參考/學習工具
Comment=Japanese Reference and Study Tool
Comment[bg]=Самоучител по японски
Comment[ca]=Eina de referència i estudi del japonès
Comment[csb]=Nôrzãdze do naùczi japòńsczégò
Comment[da]=Japansk reference-/indlæringsværktøj
Comment[de]=Referenz- und Studienprogramm für Japanisch
Comment[el]=Εργαλείο αναφοράς και μελέτης ιαπωνικών
Comment[eo]=Japanlingva referenca kaj lerna ilo
Comment[es]=Herramienta de referencia y estudio del japonés
Comment[et]=Jaapani keele õpiprogramm
Comment[fa]=ابزار مرجع و مطالعۀ ژاپنی
Comment[fi]=Japanin opiskelutyökalu
Comment[fr]=Outil d'étude et de référence japonais
Comment[ga]=Uirlis Tagartha/Staidéir don tSeapáinis
Comment[gl]=Ferramenta de Estudo e Consulta do Xaponés
Comment[gu]=જાપાનીઝ સંદર્ભ અને શિક્ષણ સાધન
Comment[he]=כלי עיון\לימוד יפנית
Comment[hi]=जापानी सन्दर्भ तथा शिक्षण औज़ार
Comment[hr]=Program za proučavanje japanskog jezika
Comment[hu]=Japán írásjeloktató
Comment[it]=Programma per lo studio del giapponese
Comment[ja]=日本語参照/学習ツール
Comment[km]=សេចក្ដីយោង និង​ឧបករណ៍​សិក្សា​​ភាសា​ជប៉ុន
Comment[ko]=일본어 참조 및 학습 도구
Comment[lt]=Japonų kalbos žinynas ir studijavimo įrankis
Comment[lv]=Japāņu valodas mācību rīks
Comment[ml]=ജാപ്പനീസ് റഫറന്‍സിനായും പഠിക്കാനായുമുള്ള ഉപകരണം
Comment[nb]=Japansk oppslagsverk/læremiddel
Comment[nds]=Nakiek- un Lehrwarktüüch för Japaansch 
Comment[ne]=जापानी सन्दर्भ र शिक्षण उपकरण
Comment[nl]=Japans referentie en studiehulpprogramma
Comment[nn]=Språk- og studieverktøy for japansk
Comment[pl]=Narzędzie do nauki języka japońskiego
Comment[pt]=Ferramenta de Estudo e Referência de Japonês
Comment[pt_BR]=Ferramenta de Estudo e Referência de Japonês
Comment[ru]=Обучение японскому языку на английском
Comment[sk]=Japonská referencia a študijný nástroj
Comment[sl]=Orodje za referenco/študij japonščine
Comment[sv]=Japanskt referens- och studieverktyg
Comment[tr]=Japonca Referans/Çalışma Aracı
Comment[uk]=Програма вивчення японської мови
Comment[x-test]=xxJapanese Reference and Study Toolxx
Comment[zh_CN]=日语参考/学习工具
Comment[zh_TW]=日語參考/學習工具
X-DocPath=kiten/index.html
X-DBUS-StartupType=Unique
Exec=kiten -caption "%c" %i
Name=Kiten
Name[af]=Katjie
Name[bn]=কিটেন
Name[hi]=किटेन
Name[ml]=കിറ്റണ്‍
Name[ne]=किटन
Name[ta]=கிட்டன்
Name[tg]=Китен
Name[x-test]=xxKitenxx
Terminal=false
Type=Application
Icon=kiten
Categories=Qt;KDE;Education;X-KDE-Edu-Language;
