[Desktop Entry]
GenericName=Japanese Reference/Study Tool
GenericName[af]=Japanese Verwysings/Leerder
GenericName[be]=Праграма для паўтарэння/вывучэння японскай мовы
GenericName[bg]=Самоучител по японски
GenericName[bn]=জাপানি তথ্যসূত্র/শিক্ষা সহায়িকা
GenericName[bs]=japanski alat za reference i studiranje
GenericName[ca]=Eina de referència i estudi del japonès
GenericName[ca@valencia]=Eina de referència i estudi del japonés
GenericName[cs]=Japonský referenční/výukový nástroj
GenericName[csb]=Nôrzãdze do naùczi japòńsczégò
GenericName[cy]=Erfyn Astudio a cyfeirio i Siapaneg
GenericName[da]=Japansk reference-/indlæringsværktøj
GenericName[de]=Referenz- und Studienprogramm für Japanisch
GenericName[el]=Εργαλείο αναφοράς/μελέτης ιαπωνικών
GenericName[en_GB]=Japanese Reference/Study Tool
GenericName[eo]=Japanlingva referenca/lerna ilo
GenericName[es]=Herramienta de referencia/estudio del japonés
GenericName[et]=Jaapani keele õpiprogramm
GenericName[eu]=Japoniera erreferentzia/Ikasketa tresna
GenericName[fa]=ابزار مرجع/مطالعه ژاپنی
GenericName[fi]=Japanin opiskelutyökalu
GenericName[fr]=Un outil d'étude et de référence du Japonais
GenericName[ga]=Uirlis Tagartha/Staidéir don tSeapáinis
GenericName[gl]=Ferramenta de consulta e aprendizaxe do xaponés
GenericName[gu]=જાપાનીઝ સંદર્ભ/શિક્ષણ સાધન
GenericName[he]=כלי עיון\לימוד יפנית
GenericName[hi]=जापानी सन्दर्भ/शिक्षण औज़ार
GenericName[hne]=जापानी सन्दर्भ/सिक्छन औजार
GenericName[hr]=Program za proučavanje japanskog jezika
GenericName[hu]=Japán írásjeloktató
GenericName[is]=Japanskt uppsláttarrit/kennslutól
GenericName[it]=Programma per lo studio del giapponese
GenericName[ja]=日本語参照/学習ツール
GenericName[ka]=იაპონურის ლექსიკონი/შესწავლა
GenericName[kk]=Жапон тілін үйрену құралы
GenericName[km]=កម្មវិធីសិក្សា​/សេចក្ដី​យោង​ជា​ភាសា​ជប៉ុន
GenericName[ko]=일본어 참조/학습 도구
GenericName[lt]=Japoniškas žinynas/studijavimo įrankis
GenericName[lv]=Japāņu valodas mācību rīks
GenericName[mk]=Јапонски Прирачник/Алатка за учење
GenericName[ml]=ജാപ്പനീസ് റഫറന്‍സ്/പഠന ഉപകരണം
GenericName[mr]=जपानी सन्दर्भ/शिक्षण साधन
GenericName[ms]=Alat Rujukan/Pembelajaran Bahasa Jepun
GenericName[nb]=Japansk oppslagsverk/læremiddel
GenericName[nds]=Nakiek- un Lehrwarktüüch för Japaansch
GenericName[ne]=जापानी सन्दर्भ/शिक्षण सामग्री
GenericName[nl]=Hulpprogramma voor referentie/studie Japans
GenericName[nn]=Språk- og studieverktøy for japansk
GenericName[pl]=Narzędzie do nauki japońskiego
GenericName[pt]=Ferramenta de Estudo de Japonês
GenericName[pt_BR]=Ferramenta de estudo/referência em japonês
GenericName[ru]=Японско-английский словарь
GenericName[se]=Japánalaš giellareaidu
GenericName[sk]=Japonská referencia/študijný nástroj
GenericName[sl]=Orodje za učenje japonščine
GenericName[sv]=Japanskt referens- och studieverktyg
GenericName[ta]= ஜப்பானிய மேற்கோள்/ கல்விக் கருவி
GenericName[tg]=Асбоби Истидони/Омӯзиши Забони Японӣ
GenericName[tr]=Japonca Başvuru ve Çalışma Aracı
GenericName[ug]=ياپونچە پايدىلىنىش كىتابلىرى/ئۆگىنىش قوراللىرى
GenericName[uk]=Програма для вивчення японської мови
GenericName[vi]=Công cụ Tham khảo/Học Tiếng Nhật
GenericName[xh]=Ubekiso Lwesijapani/Isixhobo Sokufunda
GenericName[x-test]=xxJapanese Reference/Study Toolxx
GenericName[zh_CN]=日语参考/学习工具
GenericName[zh_TW]=日語參考/學習工具
Comment=Japanese Reference and Study Tool
Comment[bg]=Самоучител по японски
Comment[bs]=japanski alat za reference i studiranje
Comment[ca]=Eina de referència i estudi del japonès
Comment[ca@valencia]=Eina de referència i estudi del japonés
Comment[cs]=Japonský referenční a výukový nástroj
Comment[csb]=Nôrzãdze do naùczi japòńsczégò
Comment[da]=Japansk reference- og indlæringsværktøj
Comment[de]=Referenz- und Studienprogramm für Japanisch
Comment[el]=Εργαλείο αναφοράς και μελέτης ιαπωνικών
Comment[en_GB]=Japanese Reference and Study Tool
Comment[eo]=Japanlingva referenca kaj lerna ilo
Comment[es]=Herramienta de referencia y estudio del japonés
Comment[et]=Jaapani keele õpiprogramm
Comment[eu]=Japoniera erreferentzia eta ikasketa tresna
Comment[fa]=ابزار مرجع و مطالعه ژاپنی
Comment[fi]=Japanin opiskelutyökalu
Comment[fr]=Outil d'étude et de référence du Japonais
Comment[ga]=Uirlis Tagartha/Staidéir don tSeapáinis
Comment[gl]=Ferramenta de consulta e aprendizaxe do xaponés
Comment[gu]=જાપાનીઝ સંદર્ભ અને શિક્ષણ સાધન
Comment[he]=כלי עיון\לימוד יפנית
Comment[hi]=जापानी सन्दर्भ तथा शिक्षण औज़ार
Comment[hne]=जापानी सन्दर्भ अउ सिक्छन औजार
Comment[hr]=Program za proučavanje japanskog jezika
Comment[hu]=Japán írásjeloktató
Comment[is]=Japanskt uppsláttarrit og kennslutól
Comment[it]=Programma per lo studio del giapponese
Comment[ja]=日本語参照/学習ツール
Comment[kk]=Жапон тілін (ағылшын негізінде) үйрену құралы
Comment[km]=កម្មវិធីសិក្សា និង​សេចក្ដី​យោង​ជា​ភាសា​ជប៉ុន
Comment[ko]=일본어 참조 및 학습 도구
Comment[lt]=Japonų kalbos žinynas ir studijavimo įrankis
Comment[lv]=Japāņu valodas mācību rīks
Comment[ml]=ജാപ്പനീസ് റഫറന്‍സിനായും പഠിക്കാനായുമുള്ള ഉപകരണം
Comment[mr]=जपानी सन्दर्भ व शिक्षण साधन
Comment[nb]=Japansk oppslagsverk og læremiddel
Comment[nds]=Nakiek- un Lehrwarktüüch för Japaansch 
Comment[ne]=जापानी सन्दर्भ र शिक्षण उपकरण
Comment[nl]=Hulpprogramma voor referentie/studie Japans
Comment[nn]=Språk- og studieverktøy for japansk
Comment[pl]=Narzędzie do nauki języka japońskiego
Comment[pt]=Ferramenta de Estudo e Referência de Japonês
Comment[pt_BR]=Ferramenta de estudo e referência em japonês
Comment[ru]=Обучение японскому языку на английском
Comment[sk]=Japonská referencia a študijný nástroj
Comment[sl]=Orodje za učenje japonščine
Comment[sv]=Japanskt referens- och studieverktyg
Comment[tr]=Japonca Başvuru ve Çalışma Aracı
Comment[ug]=ياپونچە پايدىلىنىش ۋە ئۆگىنىش قورالى
Comment[uk]=Довідник і програма для вивчення японської мови
Comment[x-test]=xxJapanese Reference and Study Toolxx
Comment[zh_CN]=日语参考/学习工具
Comment[zh_TW]=日語參考/學習工具
X-DocPath=kiten/index.html
X-DBUS-StartupType=Unique
Exec=kiten -qwindowtitle %c -qwindowicon kiten
Name=Kiten
Name[af]=Katjie
Name[be]=Kiten
Name[bg]=Kiten
Name[bn]=কিটেন
Name[br]=Kiten
Name[bs]=Kiten
Name[ca]=Kiten
Name[ca@valencia]=Kiten
Name[cs]=Kiten
Name[csb]=Kiten
Name[cy]=Kiten
Name[da]=Kiten
Name[de]=Kiten
Name[el]=Kiten
Name[en_GB]=Kiten
Name[eo]=Kiten
Name[es]=Kiten
Name[et]=Kiten
Name[eu]=Kiten
Name[fi]=Kiten
Name[fr]=Kiten
Name[ga]=Kiten
Name[gl]=Kiten
Name[gu]=Kiten
Name[he]=Kiten
Name[hi]=किटेन
Name[hne]=किटेन
Name[hr]=Kiten
Name[hu]=Kiten
Name[is]=Kiten
Name[it]=Kiten
Name[ja]=Kiten
Name[ka]=Kiten
Name[kk]=Kiten
Name[km]=Kiten
Name[ko]=Kiten
Name[lt]=Kiten
Name[lv]=Kiten
Name[mk]=Kiten
Name[ml]=കിറ്റണ്‍
Name[mr]=किटेन
Name[ms]=Kiten
Name[nb]=Kiten
Name[nds]=Kiten
Name[ne]=किटन
Name[nl]=Kiten
Name[nn]=Kiten
Name[pl]=Kiten
Name[pt]=Kiten
Name[pt_BR]=Kiten
Name[ro]=Kiten
Name[ru]=Kiten
Name[se]=Kiten
Name[sk]=Kiten
Name[sl]=Kiten
Name[sv]=Kiten
Name[ta]=கிட்டன்
Name[tg]=Китен
Name[tr]=Kiten
Name[ug]=Kiten
Name[uk]=Kiten
Name[vi]=Kiten
Name[xh]=Kiten
Name[x-test]=xxKitenxx
Name[zh_CN]=Kiten
Name[zh_TW]=語言_Kiten
Terminal=false
Type=Application
Icon=kiten
Categories=Qt;KDE;Education;Languages;
X-DBUS-ServiceName=org.kde.kiten
