[Desktop Entry]
Exec=kitenradselect
Name=Radical Selector
Name[bs]=Birač radikala
Name[ca]=Selector de radicals
Name[ca@valencia]=Selector de radicals
Name[cs]=Výběr podle radikálů
Name[da]=Rod-vælger
Name[de]=Stammformenauswahl
Name[el]=Επιλογέας ριζικού
Name[en_GB]=Radical Selector
Name[es]=Selector de radicales
Name[et]=Radikaalide valija
Name[eu]=Erro hautatzailea
Name[fi]=Radikaalivalitsin
Name[fr]=Sélecteur de radicaux
Name[ga]=Roghnóir Fréimhe
Name[gl]=Selector de radicais
Name[hu]=Gyökválasztó
Name[it]=Selettore radicali
Name[kk]=Түбірін таңдау
Name[km]=កម្មវិធី​ជ្រើស​រ៉ាឌីកាល់
Name[ko]=부수 선택기
Name[lt]=Rakto parinkimas
Name[mr]=रेडिकल निवड
Name[nb]=Radikal-velger
Name[nds]=Grundteken-Köör
Name[nl]=Basisvormselectie
Name[nn]=Teiknestamme-veljar
Name[pl]=Radykalny wybierak
Name[pt]=Selector de Radicais
Name[pt_BR]=Seletor de radicais
Name[ru]=Поиск кандзи по ключам
Name[sk]=Radikálny výber
Name[sl]=Izbirnik korena
Name[sv]=Radikalväljare
Name[tr]=Kök (Radikal) Seçici
Name[ug]=رادىكلا تاللىغۇچ
Name[uk]=Вибір радикалів
Name[x-test]=xxRadical Selectorxx
Name[zh_CN]=字根选择器
Name[zh_TW]=字根選擇器
X-DocPath=kiten/radical-search.html
Terminal=false
Type=Application
Icon=kiten
NoDisplay=true
Categories=Qt;KDE;Education;Languages;
