[Desktop Entry]
Encoding=UTF-8
Name=radselect
Exec=kitenradselect %i %m -caption "%c"
Icon=radselect
Type=Application
DocPath=radselect/radselect.html
Comment=A helper program for kiten
Terminal=false
