[Desktop Entry]
Encoding=UTF-8
Name=radselect
Name[x-test]=xxradselectxx
Exec=kitenradselect %i -caption "%c"
Icon=radselect
Type=Application
DocPath=radselect/radselect.html
Comment=A helper program for kiten
Comment[el]=Ένα βοηθητικό πρόγραμμα του kiten
Comment[es]=Un programa de ayuda para kiten
Comment[fa]=برنامه کمک‌رسان برای kiten
Comment[it]=Programma di supporto per kiten
Comment[ja]=Kiten のヘルパープログラム
Comment[pt]=Um programa auxiliar para o kiten
Comment[pt_BR]=Um programa auxiliar para o kiten
Comment[sv]=Ett hjälpprogram för Kiten
Comment[uk]=Допоміжна програма для kiten
Comment[x-test]=xxA helper program for kitenxx
Comment[zh_TW]=kiten 的輔助程式
Terminal=false
