[Desktop Entry]
Encoding=UTF-8
Name=radselect
Exec=radselect %i %m -caption "%c"
Icon=radselect
Type=Application
DocPath=radselect/radselect.html
Comment=A KDE KPart Application
Terminal=false
